doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')

        // Libraries
        script(type='text/javascript', src='/lib/d3/d3.min.js')
        script(type='text/javascript', src='/lib/lodash/dist/lodash.min.js')
        script(type='text/javascript', src='/lib/moment/min/moment.min.js')
        script(type='text/javascript', src='/lib/string/lib/string.min.js')
        script(type='text/javascript', src='/lib/chartjs/Chart.min.js')

    body
        block content