doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')

        // Libraries
        script(type='text/javascript', src='/lib/d3/d3.min.js')

    body
        block content