body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.metadata {
  visibility: hidden;
}

#container {
  border: 1px solid gray;
}

/* tell the SVG path to be a thin blue line without any area fill */
circle {
  stroke: black;
  stroke-width: 1;
  fill: red;
  opacity: 0.75;
}

.x.axis line, .y.axis line {
  stroke: darkgrey;
}

.x.axis path, .y.axis path {
  fill: none;
  stroke: darkgrey;
}